{% extends "layout.html" %}

{% block head %}
{% endblock %}


{% block main_content %}
<h1>About Cartwheels</h1>
<hr>
<h4>
<p>Cartwheels is a web application that allows consumers to rate and review mobile street vendors throughout New York City.</p>

<p>Consumers use Yelp! to review restaurants - but they have no way to keep food carts accountable. This leads to three problems. First, consumers don't know which carts have the best food. Second, they don't which carts are in violation of health codes and which are not. This is increasingly problematic as the average cart pays $433 due to health violations. Third, cart owners have little incentive to provide healthy food and reliable service because there is no accountability mechanism to keep carts in check.</p>

<p>Cartwheels solves these problems. First, Cartwheels allow consumers to rate and review carts throughout the city. This way, consumers know what to expect before they visit mobile street venders. Using Cartwheels allows consumers to know which carts are hygienic and which are not and allows users to report cart owners to the city for health violations. Users can also read cart menus and, using that information, decide which carts to buy their breakfasts and lunches at.</p>

<p>Second, Cartwheels allows cart owners to register their carts and upload information about their carts and menus. Using the Stripe API, we allow cart owners to purchase ads on our website and communicate with consumers. In this way, we connect consumers and cart owners and create better communication and accountability in the mobile food vending space.</p>

<p>Cartwheels was created using the City Data and Google Maps APIs. We query data from the City Data API in order to provide users with the names, addresses and registration numbers of carts throughout the city. We use the Google Maps API to provide users with directions to get to carts of their choosing.</p>

<p>Our mission is to provide an online space for users to review and discuss mobile street vendors. We believe this will benefit consumers, immigrant cart owners, and all those who love great, cheap food - in short, all New Yorkers.</p>
</h4>
{% endblock %}

{% block scripts %}

{% endblock %}
