{% extends "layout.html" %}

{% block head %}
<!--include javascript files-->
<script type="text/javascript" src="{{ url_for('static', filename='include/jquery.collagePlus.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='include/jquery.removeWhitespace.min.js') }}"></script>

<!--include css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='include/transitions.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block body %}
<title>Home</title>
{% endblock %}


{% block main_content %}
<!--cycling image gallery-->
<div id=gallery>
  {% for image in imagelist %}
  <img src="{{ image.url_path }}">
  {% endfor %}
</div>

<div id=flag class=hidden>
  Cartwheels
</div>
{% endblock %}


{% block scripts %}
<!--scripts-->
<script type="text/javascript" src="{{ url_for('static', filename='js/index-widget.js') }}"></script>
{% endblock %}
