{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block main_content %}
<div class="form">
  <div class="form-header">Login</div>

  <form method=POST>
    <input class="input form-input required" name="email" type=text placeholder="Email address">
    <input class="input form-input required" name="pass" type=password placeholder="Password">
    <input type=submit name=button value=login>
  </form>
</div>

<div class="form-errors">
  {{error}}
</div>
{% endblock %}


{% block scripts %}
<!--scripts-->
<script type="text/javascript" src="{{ url_for('static', filename='js/form-utils.js') }}"></script>
{% endblock %}
