{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rating.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/rating-widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/review-widget.js') }}"></script>
{% block head_continued %}
{% endblock %}
{% endblock %}

{% block main_content %}
{% block before_reviews %}
{% endblock %}

<div class=reviews>
  <h2 class=reviews-header>Reviews</h2>
  {% for rev in reviews %}
  <div class=review-item>
    <div class=review-user>
      {{rev.user}}
    </div>
    <div class=rating-item>
      {{rev.rating}}
    </div>
    <div class=review-text>
      {{rev.text}}
    </div>
  </div>
  {% endfor %}
  {% if reviews|length == 0 %}
  No Reviews to Display
  {% endif %}
</div>

{% block after_reviews %}
{% endblock %}
{% endblock %}

{% block scripts %}
{% endblock %}
